<!--

  CSS:

    .viz-svg {
      margin: auto;
      display: block;
      max-width: 100%;
    }

  Example:

    ```viz-dot
    graph graphname {
      a [label="Foo"];
      b [shape=box];
      a -- b -- c [color=blue];
      b -- d [style=dotted];
    }
    ```

-->

<script type="text/javascript">
  var count = 0;
  function vizOnload () {
    count++;
    if (count == 2) {
      vizRender();
    }
  }

  function vizRender () {
    var vizPrefix = "language-viz-";
    var nodes = document.querySelectorAll("[class^=" + vizPrefix + "]");

    Array.prototype.forEach.call(nodes, function(x) {
      var engine;
      x.getAttribute("class").split(" ").forEach(function(cls) {
        if (cls.startsWith(vizPrefix)) {
          engine = cls.substr(vizPrefix.length);
        }
      });

      var viz = new Viz();
      var options = {format: "svg", engine: engine};
      viz.renderSVGElement(x.innerText, options).then(function(image) {
        image.classList.add ("viz-svg");

        x.parentNode.insertBefore(image, x);
        x.style.display = 'none';
      });
    });
  }
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.0.0/viz.js" integrity="sha384-Dk3XgZBvGqpMdsJAJ1jmBHrULzDJvZt1FSpbZhGjNKh4zPm3UCNxfZthCN6fEcbF" crossorigin="anonymous" async onload="vizOnload()"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/viz.js/2.0.0/full.render.js" integrity="sha384-y+ikphc9GOKEGwqOidYHafDmcpXNpHmdIxnw0/usBkmfFbY0xdT2LYNdl4TRlHoI" crossorigin="anonymous" async onload="vizOnload()"></script>
