{{ $CurrentLang:= .Lang }}
{{ $hasSocialLinks := (or .Site.Params.facebook .Site.Params.twitter .Site.Params.instagram .Site.Params.youtube .Site.Params.linkedin .Site.Params.github) }}

{{ if gt (.AllTranslations | len) 1 }}
  {{ if and (.Site.Menus.main) (not $hasSocialLinks) }}
  <div class="f4-ns white-90 dn db-l">|</div>
  {{ end }}
  <ul class="pl0 ml4-l">
    {{ range .AllTranslations.ByLanguage }}
    <li class="list f5 f4-ns fw4 dib pr3">
      {{ if eq (lower .Language) $CurrentLang }}
      <span class="white-50">
        {{ .Language }}
      </span>
      {{ else }}
      <a class="hover-white no-underline white-90" href="{{ .Permalink }}" title="{{ .Language }}">
        {{ .Language }}
      </a>
      {{ end }}
    </li>
    {{ end }}
  </ul>
{{ end }}
